.hex {
  color: var(--text_C);
  flex-shrink: 0;
  transform-box: fill-box;
  transform-origin: center;

  > :nth-child(1) {
    opacity: 4%;
    animation: 1s fader var(--delay) ease-in-out alternate infinite;
  }
  > :nth-child(2) {
    opacity: 4%;
    animation: 1s fader calc(var(--delay) + 0.2s) ease-in-out alternate infinite;
  }
  > :nth-child(3) {
    opacity: 4%;
    animation: 1s fader calc(var(--delay) + 0.4s) ease-in-out alternate infinite;
  }
}

@keyframes fader {
  0% {
    opacity: 5%;
  }
  100% {
    opacity: 1%;
  }
}
