.App {
  text-align: center;
  overflowx: hidden;

  h2,
  h3 {
    text-transform: uppercase;
    color: var(--accent_C);
  }

  .content {
    max-width: 900px;
  }

  a:hover,
  button:hover {
    cursor: pointer;
  }
}
